* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100vh;
}

hr {
  width: 80%;
  height: 3px;
  background-color: #3c3b3b;
  margin: 30px auto;
}
.nav {
  background-color: blanchedalmond;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0 30px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
}

.transparent {
  background-color: rgba(255, 235, 205, 0.776);
}
.logo {
  font-size: 30px;
  font-weight: 600;
}
.navList {
  /* margin-right: 34px;     */
}
.navList ul {
  display: flex;
}
.navList li {
  text-decoration: none;
  list-style: none;
  margin: 0 20px;
  color: #464694;
  font-size: 20px;
  font-weight: 600;
}
.navList li:hover {
  color: #6d6dc7;
  font-weight: 700;
  text-decoration: underline;
}

/* banner section */

.bannerSection {
  width: 100%;
  min-height: 80vh;
  /* background-color: red; */
  overflow: hidden;
}
.sliderSection {
  /* border: 3px solid blue; */
  padding: 10px 20px;
  position: relative;
  width: 100%;
  height: 100%;
}
.slideImg {
  /* border: 2px solid green; */
  width: 100%;
  height: 100%;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 16/9;
  width: 100%;

  height: 80vh;
  /* margin: 10px 300px; */
  transition: opacity 1s ease-in-out;
}
.slideImg img {
  /* width: 100%; */
}

.sliderDots {
  position: absolute;
  top: 535px;
  left: 50%;
  display: flex;
  cursor: pointer;
  transition: transformX(-50%);
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
}
.active-dot {
  background-color: #333;
}

/* category section */

.category {
  width: 100%;
  min-height: 130vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: rgb(77, 255, 0); */
  /* overflow: hidden; */
  margin: 30px 0;
}
.category h2 {
  font-size: 40px;
  text-transform: uppercase;
}
.category h4 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
}
.itemContainer {
  width: 100%;
  height: 100%;
  /* border: 2px solid yellow; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.item {
  width: 18vw;
  height: 50vh;
  background-color: black;
  border: 2px solid rgb(168, 178, 206);
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
  margin: 20px;
}
.item:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.item .categoryImg img {
  width: 18vw;
  height: 40vh;
  /* background-color: red; */
  object-fit: cover;
  object-position: center;
}

.categoryName {
  display: flex;
  align-items: center;
  justify-content: center;
}
.categoryName a {
  margin: 20px 0;
  color: #fff;
  text-decoration: none;
  /* border: 2px solid red; */
  font-size: 23px;
  font-weight: 500;
}

/*  owners sectin */

.ownerSection {
  width: 100%;
  height: 230vh;
  margin: 30px 0;
  padding: 30px;
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ownerSection h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 30px;
}
.owners {
  width: 100%;
  height: 100%;
}
.ownerContainer {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid red; */
  margin: 50px 0;
}
.ownerImg {
  width: 30%;
  height: 60vh;
  /* border: 2px solid green; */
  border-radius: 30px;
  overflow: hidden;

  margin: 20px 50px 20px 110px;
}
.ownerImgOdd {
  width: 30%;
  height: 60vh;
  /* border: 2px solid green; */
  border-radius: 30px;
  overflow: hidden;

  margin: 20px 110px 20px 50px;
}
.ownerImg img {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  object-fit: cover;
  object-position: top;
}
.ownerImgOdd img {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  object-fit: cover;
  object-position: top;
}
.ownerName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: cetner;
  width: 50%;
  height: 50vh;
  /* border: 2px solid rgb(0, 41, 128); */
  border-radius: 30px;
  padding: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: azure;

  margin-right: 80px;
}
.ownerNameOdd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: cetner;
  width: 50%;
  height: 50vh;
  /* border: 2px solid rgb(0, 41, 128); */
  border-radius: 30px;
  padding: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: azure;

  margin-left: 80px;
}
.ownerName h2 {
  font-size: 40px;
  font-weight: 500px;
  margin-bottom: 20px;
}
.ownerName p {
  font-size: 20px;
}
.ownerNameOdd h2 {
  font-size: 40px;
  font-weight: 500px;
  margin-bottom: 20px;
}
.ownerNameOdd p {
  font-size: 20px;
}

.ownerName:hover {
  box-shadow: rgba(127, 114, 240, 0.607) 0px 5px 15px;
}
.ownerNameOdd:hover {
  box-shadow: rgba(127, 114, 240, 0.35) 0px 5px 15px;
}
.ownerImg:hover {
  box-shadow: rgba(127, 114, 240, 0.35) 0px 5px 15px;
}
.ownerImgOdd:hover {
  box-shadow: rgba(127, 114, 240, 0.35) 0px 5px 15px;
}

/* footer */

.footer {
  width: 100%;
  height: 55vh;
  background-color: rgba(255, 235, 205, 0.776);
}

.footer1 {
  width: 100%;
  height: 90%;
  padding: 30px;
  color: #464694;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  position: relative;
}
.info {
  /* border: 2px solid red; */
  margin-right: 50px;
}
.info h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 23px;
}
.info h2 span {
  font-size: 20px;
  font-weight: 400;
}
.info p {
  font-size: 20px;
}

.followus {
  /* border: 2px solid green; */
  text-align: center;
}
.followus p {
  font-size: 23px;
  font-weight: 500;
}
.followus a {
  font-size: 40px;
  font-weight: 500;
  margin: 20px 5px;
}
.footer2 {
  width: 100%;
  height: 10%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 25px;
  font-weight: 600;
}
.map {
  position: absolute;
  right: 20px;
  top: 30px;
}
